@import "../../UI/colors.scss";

.main {
  background-color: $bg;
  height: 100%;
  padding: 20px 0;
}

.height {
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
}

.left {
  flex: 1;
}

.right {
  flex: 3;
  padding-left: 20px;
  background-color: $main;
  height: max-content;
  min-height: 247.2px;
  max-height: 646.4px;
  overflow-y: auto;
  border-radius: 8px;
}

.left,
.right {
  padding: 20px;
}
