.main {
  // max-width: 1780px;
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;

  // @media screen and (max-width: 1919px) {
  //   max-width: 1180px;
  // }

  // @media screen and (max-width: 1279px) {
  //   max-width: 660px;
  // }

  // @media screen and (max-width: 719px) {
  //   max-width: 500px;
  // }
}
